body {
  height: 100vh;
  background-color: black;
  color: white;
  background: url("../media/img/glitchForestWithSlendy.gif") no-repeat center center fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10%;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: 'slender';
}

#typedTextWrap {
  font-family: 'slender';
  font-size: 25px;
  font-weight: bolder;
  line-height: 40px;
}

p {
  font-size: 25px;
  font-family: 'slender';
  line-height: 40px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 600;
  font-family: 'slender';
}

.game-over-text {
  text-decoration: none;
  border: none;
  background: none;
  outline: 0;
  color: whitesmoke;
}

.important-text {
  color: red;
}

.menu-button-start:focus {
  text-decoration: none;
  border: none;
  background: none;
  outline: 0;
}

.menu-button-start:hover {
  text-decoration: none;
  border: none;
  background: none;
}

.menu-button-start:active {
  text-decoration: none;
  border: none;
  background: none;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  white-space: nowrap;
}

.menu-button-start {
  font-family: 'slender';
  font-size: 30px;
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  border: none;
  background: none;
}

.menu-button-start:hover {
  -webkit-transition: ease-in color 0.5s;
  transition: ease-in color 0.5s;
  color: #c40e0e;
  /* animation: glitch 3s infinite alternate-reverse; */
}

.content-wrapper-game-over {
  width: 50vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-wrapper-game-over h1 {
  font-size: 50px;
}

.notification-text {
  font-size: 10px;
}

#note {
  pointer-events: auto;
}
/*# sourceMappingURL=main.css.map */