body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
// default end

body {
	height: 100vh;
	background-color: black;
	color: white;
	background: url("media/img/glitchForest.gif") no-repeat center center fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1 {
	text-align: center;
	font-size: 40px;
	margin: 20px;
	font-weight: 700;
	font-family: 'slender';
}

.button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.menu-button-start {
	margin: 10px;
	font-family: 'slender';
	font-size: 30px;
	color: white;
	text-decoration: none;
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}

.menu-button-start:hover {
	transition: ease-in color 0.5s;
	color: #c40e0e;
	/* transition: ease-out  color 1s; */
	/* animation: glitch 3s infinite alternate-reverse; */
}